{% if component.data %}
<div class="container">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-md">
        {% if component.data.image1 %}
            <div>
                <img 
                    src="{{ component.data.image1.src }}" 
                    alt="{{ component.data.image1.alt }}"
                >
            </div>
        {% endif %}
        {% if component.data.image2 %}
            <div>
                <img 
                    src="{{ component.data.image2.src }}" 
                    alt="{{ component.data.image2.alt }}"
                >
            </div>
        {% endif %}
    </div>
    {% if component.data.caption %}
        <p class="mt-md text-center text-secondary">{{ component.data.caption }}</p>
    {% endif %}
</div>
{% endif %}