<footer class="bg-background text-secondary mt-auto">
    <div class="container mx-auto px-md py-lg">
        <p class="text-center">&copy; {{ page.date.getFullYear() }} My Site. All rights reserved.</p>
    </div>
</footer>